.mindmap-area {
  width: 100%;
  height: 100%;
  text-align: center;
}

.forFrame {
  overflow: hidden;
  margin: 10px auto 20px;
}

.frame-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}